<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>SKYP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <error-page>
    <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <description></description>
    <display-name>CustomerRegistration</display-name>
    <servlet-name>CustomerRegistration</servlet-name>
    <servlet-class>skyp.CustomerRegistration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerRegistration</servlet-name>
    <url-pattern>/CustomerRegistration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerReg</display-name>
    <servlet-name>CustomerReg</servlet-name>
    <servlet-class>skyp.controller.CustomerReg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerReg</servlet-name>
    <url-pattern>/CustomerReg</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>skyp.login.controller.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>skyp.login.controller.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProfileController</display-name>
    <servlet-name>ProfileController</servlet-name>
    <servlet-class>skyp.profile.controller.ProfileController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProfileController</servlet-name>
    <url-pattern>/ProfileController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileServlet</servlet-name>
    <servlet-class>skyp.file.FileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServlet</servlet-name>
    <url-pattern>/uploads/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FileServeServlet</display-name>
    <servlet-name>FileServeServlet</servlet-name>
    <servlet-class>skyp.usage.controller.FileServeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileServeServlet</servlet-name>
    <url-pattern>/FileServeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgotPasswordServlet</display-name>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <servlet-class>skyp.registration.controller.ForgotPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgotPasswordServlet</servlet-name>
    <url-pattern>/ForgotPasswordServlet</url-pattern>
  </servlet-mapping>
  <context-param>
    <param-name>uploadPath</param-name>
    <param-value>D:\Dynamic Web Project\SKYP\src\main\webapp\uploads</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>RunProjectServlet</display-name>
    <servlet-name>RunProjectServlet</servlet-name>
    <servlet-class>skyp.usage.controller.RunProjectServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RunProjectServlet</servlet-name>
    <url-pattern>/RunProjectServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangeStatusServlet</display-name>
    <servlet-name>ChangeStatusServlet</servlet-name>
    <servlet-class>skyp.usage.controller.ChangeStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeStatusServlet</servlet-name>
    <url-pattern>/ChangeStatusServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillingServlet</display-name>
    <servlet-name>BillingServlet</servlet-name>
    <servlet-class>skyp.billing.controller.BillingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillingServlet</servlet-name>
    <url-pattern>/BillingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanSelectionServlet</display-name>
    <servlet-name>PlanSelectionServlet</servlet-name>
    <servlet-class>skyp.billing.controller.PlanSelectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanSelectionServlet</servlet-name>
    <url-pattern>/PlanSelectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PlanDisplayServlet</display-name>
    <servlet-name>PlanDisplayServlet</servlet-name>
    <servlet-class>skyp.billing.controller.PlanDisplayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PlanDisplayServlet</servlet-name>
    <url-pattern>/PlanDisplayServlet</url-pattern>
  </servlet-mapping>
</web-app>